---
// This is /src/posts/[...page].astro
import BaseLayout from '$layouts/BaseLayout.astro'
import { Markdown } from 'astro/components'
import PostPreviewCard from '$components/PostPreviewCard.astro';
import NavPagination from '$components/NavPagination.astro';
import Config from "$/website.config.cjs";

export async function getStaticPaths({ paginate }) {
  // Load your data with fetch(), Astro.fetchContent(), etc.
  const allPosts = await Astro.glob('./*.md');
  const data = allPosts.sort((a, b) => Date.parse(b.frontmatter.datePublished) - Date.parse(a.frontmatter.datePublished));
  // Return a paginated collection of paths for all posts
  return paginate(data, { pageSize: Config.pageSize });
}

// If set up correctly, The page prop now has everything that
// you need to render a single page (see next section).
const { page } = Astro.props;
---

<BaseLayout title="All Posts">
  <!-- {JSON.stringify({page})} -->

	<div class="mx-auto px-4 sm:px-6 lg:px-8">
		<!-- We've used 3xl here, but feel free to try other max-widths based on your needs -->
  		<div class="prose max-w-6xl mx-auto">
			  <Markdown>

  			# Blog Posts 

  			Some blub about blog posts for the site.

  			</Markdown>
  			<div class="h-full px-6 py-12 lg:flex lg:justify-center lg:items-center">
          <div class="grid lg:grid-cols-2 gap-12 lg:gap-6">
            {page.data.map(post => <PostPreviewCard post={post} />)}
          </div>
        </div>
        <NavPagination page={page} />
      </div>
  </div>
</BaseLayout>
