---
// src/pages/authors/[author].astro
import BaseLayout from '$layouts/BaseLayout.astro';
import { Markdown } from 'astro/components'
import AUTHOR from "$components/author.astro";
import PostPreviewCard from '$components/PostPreviewCard.astro';
import Config from "$/website.config.cjs";
const authorData = Config.authors ?? [];
// console.log(JSON.stringify(authorData))
let authors = authorData.map(obj => {return obj.key})
// console.log(authors)

export async function getStaticPaths() {
	const allPosts = await Astro.glob('../posts/*.md');
	// let allAuthorsUnique = ['rnwolf']; //For testing
	let allAuthorsUnique = Config.authors.map(obj => {return obj.key});
	// console.log(allAuthorsUnique);

	return allAuthorsUnique.map((author) => ({ params: { author }, props: { allPosts } }));
}

const { allPosts } = Astro.props;
// console.log(JSON.stringify(allPosts))

/** filter posts by author, sort by date */
const posts = allPosts
.filter(post => post.frontmatter.authors.includes(Astro.params.author))
.sort((a, b) => new Date(b.frontmatter.datePublished).valueOf() - new Date(a.frontmatter.datePublished).valueOf());

const postauthor = authorData.filter( author => author.key === Astro.params.author)[0];
console.log(JSON.stringify(postauthor));
---

<BaseLayout title="Throughput Focus home page" >

	<div class="mx-auto px-4 sm:px-6 lg:px-8">
		<!-- We've used 3xl here, but feel free to try other max-widths based on your needs -->
  		<div class="prose max-w-6xl mx-auto">
			<Markdown>

			# Authors

			Some blub about Authors for the site.

			</Markdown>

			<AUTHOR author={postauthor} />
			<div class="py-12 md:px-20 sm:px-14 px-6 bg-red-200">
				{posts.map((post) => <PostPreviewCard post={post} />)}
			</div>

		</div>
	</div>


</BaseLayout>