---
//src/tags/index.astro
import BaseLayout from '$layouts/BaseLayout.astro'
import { Icon } from 'astro-icon';
import { Markdown } from 'astro/components'
import Config from "$/website.config.cjs";
import AUTHOR from "$components/author.astro";

// JS/TS Code written in between the (---) code fence,
// is ran solely on the Server!
const tagsRootURL = new URL(Astro.request.url);
---

<BaseLayout title="Authors index for Throughput Focus blog posts." 
description="Index page for Authors writing Throughput Focus blog posts." 
metaDescription="See Authors index page to navigate to blogs post contributions."
metaTitle="Use author index to quickly navigate contributed posts."
metaImage="default-opengraph-image.png"
metaImageAlt="System throughput is determined by system constraint.">

	<div class="pt-24 mx-auto px-4 sm:px-6 lg:px-8">
		<!-- We've used 3xl here, but feel free to try other max-widths based on your needs -->
 		<div class="prose max-w-6xl mx-auto">
			<Markdown>

			# Post Authors

			Some blub about the authors on the site.

			</Markdown>

        {Config.authors.map(author => (
          <AUTHOR author={author} />
        ))}
    </div>
  </div>
</BaseLayout>