---
//src/tags/index.astro
import BaseLayout from '$layouts/BaseLayout.astro'
import { Icon } from 'astro-icon';
import { Markdown } from 'astro/components'
import Config from "$/website.config.cjs";

// JS/TS Code written in between the (---) code fence,
// is ran solely on the Server!
const tagsRootURL = new URL(Astro.request.url);
---

<BaseLayout title="Throughput Focus tags page" >

	<div class="mx-auto px-4 sm:px-6 lg:px-8">
		<!-- We've used 3xl here, but feel free to try other max-widths based on your needs -->
 		<div class="prose max-w-6xl mx-auto">
			<Markdown>

			# Post Tags

			Some blub about the use of tags for the site.

			</Markdown>

      <ul>    {Config.tags.map(tag => (
        <h2>{tag.title}</h2> 
        <li >
        <a href={tagsRootURL.href + "/" + tag.key + "/1"} class="inline-flex items-center text-gray-600 my-0">
          <Icon size={42} name={tag.icon}/>
          <Icon size={24} name="mdi:tag"/>
          {tag.key}</a> 
        </li>
        <p>
        {tag.blurb}
        </p>))}
      </ul>
    </div>
  </div>
</BaseLayout>