---
//src/tags/index.astro
import BaseLayout from '$layouts/BaseLayout.astro'
import { Icon } from 'astro-icon';
import { Markdown } from 'astro/components'
import Config from "$/website.config.cjs";

// JS/TS Code written in between the (---) code fence,
// is ran solely on the Server!
const tagsRootURL = new URL(Astro.request.url);
---

<BaseLayout title="Tags index for Throughput Focus blog posts." 
description="Index page for tags used on Throughput Focus blog posts." 
metaDescription="See Tags index page to navigate to blogs posts related to a particulkar topic."
metaTitle="Use tag index to quickly navigate to related posts."
metaImage="default-opengraph-image.png"
metaImageAlt="System throughput is determined by system constraint.">

	<div class="pt-24 mx-auto px-4 sm:px-6 lg:px-8">
		<!-- We've used 3xl here, but feel free to try other max-widths based on your needs -->
 		<div class="prose max-w-6xl mx-auto">
			<Markdown>

			# Post Tags

			Some blub about the use of tags for the site.

			</Markdown>

      {Config.tags.map(tag => (
        <h2>{tag.title}</h2> 
      
        <!-- tagsRootURL.href -->
        <a href={"/tags/" + tag.key + "/1"} class="inline-flex items-center text-gray-600 my-0">
          <Icon size={42} name={tag.icon}/>
          <Icon size={24} name="mdi:tag"/>
          {tag.key}</a> 
        <p>
        {tag.blurb}
        </p>))}

    </div>
  </div>
</BaseLayout>