---
import BaseLayout from '$layouts/BaseLayout.astro'
//src/pages/index.astro
import SmallComponent from '$components/SmallComponent.astro';
import Config from "$/website.config.cjs";

// JS/TS Code written in between the (---) code fence,
// is ran solely on the Server!
console.log('See me in the Terminal')
---


  <BaseLayout>
    </br>
    <h1>Index in the tag-post directory</h1>
    </br>
    <SmallComponent title='Sent in from the parent' dataarray={Config.parentdataarray}/>
  </BaseLayout>


<script>
 // JS Code entered here is ran entirely on the Browser
 console.log('See me in the devTools')
</script>