---
import { Markdown } from 'astro/components'
import BaseLayout from '../layouts/BaseLayout.astro'

---
<BaseLayout title = "About" >
<br>
<br>
<br>
  <!-- This example requires Tailwind CSS v2.0+ -->
<div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
  <!-- We've used 3xl here, but feel free to try other max-widths based on your needs -->
  <div class="max-w-6xl mx-auto">
  <article>
    <Markdown>
# About This Website

 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer mollis vehicula orci. Nullam urna lacus, fringilla ut eros sed, tempus dignissim arcu. Aliquam vehicula dictum elit, nec eleifend metus convallis non. Phasellus ut vulputate diam, eget blandit arcu. Nulla vel mollis massa, non accumsan velit. Nunc vel sollicitudin lectus. Nullam euismod lacus sapien, sit amet feugiat nisi iaculis id. Vestibulum sollicitudin dui a faucibus rutrum. Nulla malesuada ante massa, a mollis eros tristique nec. In interdum a felis quis auctor. Sed nec nisl vitae ipsum lacinia mattis. Proin posuere quam in eleifend dapibus. In ac gravida metus.

Nulla pharetra odio magna. Nunc ut mollis nisi. Maecenas a nibh venenatis, luctus turpis a, tempus mi. Quisque ipsum massa, accumsan in pulvinar ut, condimentum et lectus. Aliquam ac eleifend ante. Nunc a suscipit est. Integer vitae neque vitae ipsum aliquam vulputate eu a dolor. Nunc augue metus, porttitor at tellus a, egestas iaculis felis. Fusce sed purus magna. Vivamus lacinia quam dignissim consequat imperdiet. Donec tempor elit mollis, eleifend mi eget, vulputate enim. Ut augue ligula, maximus ut pretium non, pellentesque at sem. Duis non quam purus. Aliquam vitae tristique nibh. Phasellus ut sagittis odio, vel rutrum dui. Aliquam erat volutpat. 

# About  ([Contact](/contact))

Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer mollis vehicula orci. Nullam urna lacus, fringilla ut eros sed, tempus dignissim arcu. Aliquam vehicula dictum elit, nec eleifend metus convallis non. Phasellus ut vulputate diam, eget blandit arcu. Nulla vel mollis massa, non accumsan velit. Nunc vel sollicitudin lectus. Nullam euismod lacus sapien, sit amet feugiat nisi iaculis id. Vestibulum sollicitudin dui a faucibus rutrum. Nulla malesuada ante massa, a mollis eros tristique nec. In interdum a felis quis auctor. Sed nec nisl vitae ipsum lacinia mattis. Proin posuere quam in eleifend dapibus. In ac gravida metus.

Nulla pharetra odio magna. Nunc ut mollis nisi. Maecenas a nibh venenatis, luctus turpis a, tempus mi. Quisque ipsum massa, accumsan in pulvinar ut, condimentum et lectus. Aliquam ac eleifend ante. Nunc a suscipit est. Integer vitae neque vitae ipsum aliquam vulputate eu a dolor. Nunc augue metus, porttitor at tellus a, egestas iaculis felis. Fusce sed purus magna. Vivamus lacinia quam dignissim consequat imperdiet. Donec tempor elit mollis, eleifend mi eget, vulputate enim. Ut augue ligula, maximus ut pretium non, pellentesque at sem. Duis non quam purus. Aliquam vitae tristique nibh. Phasellus ut sagittis odio, vel rutrum dui. Aliquam erat volutpat. 

    </Markdown>
  </article>
    </div>
    </div>

</BaseLayout>