---
// https://www.w3.org/WAI/planning/statements/generator/
import { Markdown } from 'astro/components'
import BaseLayout from '../layouts/BaseLayout.astro'

import "../styles/global.css";
---
<BaseLayout title = "Assessibility Statement" >
<br>
<br>
<br>
<div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
  <!-- We've used 3xl here, but feel free to try other max-widths based on your needs -->
  <div class="max-w-6xl mx-auto">
<article>
<Markdown>

# Accessibility Statement for My Website

This is an accessibility statement from Throughput Focus Ltd.

## Measures to support accessibility

Throughput Focus Ltd takes the following measures to ensure accessibility of My Website:

  - Include accessibility throughout our internal policies.
  - Provide continual accessibility training for our staff.

## Conformance status

The [Web Content Accessibility Guidelines (WCAG)](https://www.w3.org/WAI/standards-guidelines/wcag/) defines requirements for designers and developers to improve accessibility for people with disabilities. It defines three levels of conformance: Level A, Level AA, and Level AAA. My Website is partially conformant with WCAG 2.1 level AA. Partially conformant means that some parts of the content do not fully conform to the accessibility standard.

## Feedback

We welcome your feedback on the accessibility of My Website. Please let us know if you encounter accessibility barriers on My Website:

  - Phone: +44 7771678634
  - E-mail: accessibility@ThroughpurFocus.com
  - Postal Address: 4 Goodhall Crescent, Clophill, MK45 4AH, United Kingdom

We try to respond to feedback within 5 business days.

## Assessment approach

Throughput Focus Ltd assessed the accessibility of My Website by the following approaches:

  - Self-evaluation

## Date

This statement was created on 10 April 2022 using the W3C Accessibility Statement Generator Tool. 

</Markdown>
</article>
  </div>
</div>
</BaseLayout>