---
import { Markdown } from 'astro/components'
import BaseLayout from '$layouts/BaseLayout.astro'

---
<BaseLayout title = "Throughput Focus Content" 
description="The of the content on this page." 
metaDescription="A description of the content on this page."
metaTitle="Tirle for the content on this page."
metaImage="default-opengraph-image.png"
metaImageAlt="System throughput is determined by system constraint. Our team focuses efforts on throughput at your constraint.">

<div class="pt-24 mx-auto px-4 sm:px-6 lg:px-8">
  <article class="prose max-w-none">
      <Markdown>

        # This is an H1 heading

        Hello world this is some text that we can edit very painly. Faucibus commodo massa rhoncus, volutpat. Dignissim sed eget risus enim. Mattis mauris semper sed amet vitae sed turpis id. Id dolor praesent donec est. Odio penatibus risus viverra tellus varius sit neque erat velit. Faucibus commodo massa rhoncus, volutpat. Dignissim sed eget risus enim. Mattis mauris semper sed amet vitae sed turpis id. Id dolor praesent donec est. Odio penatibus risus viverra tellus varius sit neque erat velit.

        > This is a block quote.

          * List item
          * List item
          * List item
          * List item
          * List item


        ## This is a H2 subheading.

        And we have some more text that goes here. Faucibus commodo massa rhoncus, volutpat. Dignissim sed eget risus enim. Mattis mauris semper sed amet vitae sed turpis id. Id dolor praesent donec est. Odio penatibus risus viverra tellus varius sit neque erat velit. Faucibus commodo massa rhoncus, volutpat. Dignissim sed eget risus enim. Mattis mauris semper sed amet vitae sed turpis id. Id dolor praesent donec est. Odio penatibus risus viverra tellus varius sit neque erat velit.  [Contact link](/contact)

      </Markdown>

  </article>
</div>
</BaseLayout>
