---
import { Markdown } from 'astro/components'
import BaseLayout from '../layouts/BaseLayout.astro'

---
<BaseLayout title = "Content" >
  <br/>
  <br/>
  <br/>
<div class="mx-auto px-4 sm:px-6 lg:px-8">
  <article class="prose max-w-none">
      <Markdown>

        # This is an H1 heading

        Hello world this is some text that we can edit very painly. Faucibus commodo massa rhoncus, volutpat. Dignissim sed eget risus enim. Mattis mauris semper sed amet vitae sed turpis id. Id dolor praesent donec est. Odio penatibus risus viverra tellus varius sit neque erat velit. Faucibus commodo massa rhoncus, volutpat. Dignissim sed eget risus enim. Mattis mauris semper sed amet vitae sed turpis id. Id dolor praesent donec est. Odio penatibus risus viverra tellus varius sit neque erat velit.

        > This is a block quote.

          * List item
          * List item
          * List item
          * List item
          * List item


        ## This is a H2 subheading.

        And we have some more text that goes here. Faucibus commodo massa rhoncus, volutpat. Dignissim sed eget risus enim. Mattis mauris semper sed amet vitae sed turpis id. Id dolor praesent donec est. Odio penatibus risus viverra tellus varius sit neque erat velit. Faucibus commodo massa rhoncus, volutpat. Dignissim sed eget risus enim. Mattis mauris semper sed amet vitae sed turpis id. Id dolor praesent donec est. Odio penatibus risus viverra tellus varius sit neque erat velit.  [Contact link](/contact)

      </Markdown>

  </article>
</div>
</BaseLayout>
