---
// Figure out how to get 100% for Google Lighthouse performance analysis
// With astro-imagetools and tailwindcss
import HeroTextImage from '$components/HeroTextImage.astro';
import { Img } from "astro-imagetools/components";
import { Markdown } from 'astro/components'
import BaseLayout from '$layouts/BaseLayout.astro'
---
<BaseLayout title="Responsive Image | Throughput Focus" 
description="Experiment in responsive images Throughput Focus" 
metaDescription="Responsive us."
metaTitle="Responsive images"
metaImage="default-opengraph-image.png"
metaImageAlt="System throughput is determined by system constraint. Our team focuses efforts on throughput at your constraint.">


<HeroTextImage
heading="Does it feel like you are playing 3D Tetris with your development teams?" 
subtext="Findout how you can empower your teams to use constaints inherant in every organisational process to simplify and improve the flow of work." 
link="/contact_form" 
linkText="Talk to an Expert" 
bgcolour="bg-blue-100" />

<p> This is nsome text</p>
<p> This is nsome text</p>
<p> This is nsome text</p>
<p> This is nsome text</p>
<p> This is nsome text</p>
<p> This is nsome text</p>
<p> This is nsome text</p>


    
   


</Baselayout>