---
//src/pages/index.astro
import SmallComponent from '$components/SmallComponent.astro';
import SelectedPosts from '$components/SelectedPosts.astro';
import { Picture } from "astro-imagetools/components";
import { Img } from "astro-imagetools/components";

import Config from "$/website.config.cjs";
import Button from '$components/Button.astro';

// const parentdataarray = [
//   {
//     text: 'Home ',
//     name: 'John Parent',
//   },
//   {
//     text: 'About Parent',
//     name: 'Fred Parent',
//   },
//   ]

// JS/TS Code written in between the (---) code fence,
// is ran solely on the Server!
console.log('See me in the Terminal')
---

<html>
  <head>
  	<title>{Config.siteTitle}</title>
  </head>
  <body>
    </br>
    <h1>Hello, World! WIP</h1>
    </br>
    <SmallComponent title='Sent in from the parent' dataarray={Config.parentdataarray}/>
    <SelectedPosts />

    <Button text="Share via LinkedIn" link="https://www.linkedin.com/sharing/share-offsite/?url=" icon="mdi:linkedin" />
    </br>
    <Picture
      src="/src/images/landscape.jpg"
      alt="A landscape image"
      artDirectives={[
        {
          src: "/src/images/portrait.jpg",
          media: "(orientation: potrait)",
        },
      ]}
    />
    </br>
    <Img src="https://picsum.photos/1024/768" alt="A random image" />

  </body>
</html>



<script>
 // JS Code entered here is ran entirely on the Browser
 console.log('See me in the devTools')
</script>