---
import BaseLayout from '../layouts/BaseLayout.astro';
import Hero from '../components/Hero.astro';
// JS/TS Code written in between the (---) code fence,
// is ran solely on the Server!
console.log('See me in the Terminal')
---

<!-- <BaseLayout title="Throughput Focus home page">

<p>Hello</p>

</BaseLayout> -->

<html>
  <body>
    <h1>Hello, World! WIP</h1>
  </body>
</html>



<script>
 // JS Code entered here is ran entirely on the Browser
 console.log('See me in the devTools')
</script>