---
//src/pages/index.astro
import SmallComponent from '../components/SmallComponent.astro';

const parentdataarray = [
  {
    text: 'Home ',
    name: 'John Parent',
  },
  {
    text: 'About Parent',
    name: 'Fred Parent',
  },
  ]

// JS/TS Code written in between the (---) code fence,
// is ran solely on the Server!
console.log('See me in the Terminal')
---

<html>
  <body>
    </br>
    <h1>Hello, World! WIP</h1>
    </br>
    <SmallComponent title='Sent in from the parent' dataarray={parentdataarray}/>
  </body>
</html>



<script>
 // JS Code entered here is ran entirely on the Browser
 console.log('See me in the devTools')
</script>