---
import BaseLayout from '../layouts/BaseLayout.astro';
import Hero from '../components/Hero.astro';
import HeroTwo from '../components/HeroTwo.astro';
import ValueStack from '../components/ValueStack.astro';
import FeatureThreeColumn from '../components/FeatureThreeColumn.astro';
import StakesTextRight from '../components/StakesTextRight.astro';
import StakesTextLeft from '../components/StakesTextLeft.astro';

import "../styles/global.css";
---

<BaseLayout title="Throughput Focus home page">


    <div class="container border-2">This is a container</div>
    <HeroTwo />
    <ValueStack/>
    <FeatureThreeColumn/>
    <StakesTextRight/>
    <StakesTextLeft/>

    <p>Hello</p>
    This is some stuff - WIP

</BaseLayout>