---
import BaseLayout from '../layouts/BaseLayout.astro';
import Hero from '../components/Hero.astro';
import "../styles/global.css";
---

<BaseLayout title="Throughput Focus home page">
    <!-- spacer at the top of the page to push content out from under the floating Navbar -->
    <div class="bg-red-500 px-4 py-4"> </div>
    <div class="bg-red-500 px-4 py-4"> </div>
    <!-- Enf of the spacer  -->
    <div class="container border-2">This is a container</div>
    <Hero />
    <p>Hello</p>
    This is some stuff - WIP

</BaseLayout>