---
import "../styles/global.css";
import Config from "../website.config.cjs";
import BaseLayout from '../layouts/BaseLayout.astro';
import Hero from '../components/Hero.astro';
import HeroTwo from '../components/HeroTwo.astro';
import ValueStack from '../components/ValueStack.astro';
import ValueStackNumbers from '../components/ValueStackNumbers.astro';
import FeatureThreeColumn from '../components/FeatureThreeColumn.astro';
import FeatureForRole from '../components/FeatureForRole.astro';
import StakesTextRight from '../components/StakesTextRight.astro';
import StakesTextLeft from '../components/StakesTextLeft.astro';
import NewsLetter from '../components/NewsLetter.astro';
import PictureText from '../components/PictureText.astro';
import FeaturedPosts from '../components/FeaturedPosts.astro';
import FeaturedPostsTwoCards from '../components/FeaturedPostsTwoCards.astro';
import SiteBanner from '../components/SiteBanner.astro';

---

<html>
  <head>
  	<title>{Config.siteTitle}</title>
  </head>
  <body>
    </br>
    <h1>Hello, World! WIP</h1>
    </br>
    <SiteBanner short="This is a short text" long="This is a long piece of text" />
  </body>
</html>