---
//src/components/authors.astro
import Config from "$/website.config.cjs";
import { Icon } from 'astro-icon';
import AUTHOR from "$components/author.astro";

let authorData = Config.authors;

const { authors, level="2" } = Astro.props;

function getAuthorByKey(authors, key) {
  let author = authors.filter((a) => a.key === key)[0];
  return author;
}
// for debug get one known author 
// const author1 = getAuthorByKey(authorData,'rnwolf');
---
<!-- {JSON.stringify({authors})} -->
<!-- {JSON.stringify({authorData})} -->

<!-- <div>Author keys:</div>
{authors.map((author) => <div >{author}</div>)} -->
{authors &&
  <h2 class="mt-4" itemprop="author">Authors</h2>
  {authors.map((author) => <AUTHOR author={getAuthorByKey(authorData,author)} level={level}/>)}
}
