---
// https://tailwindcomponents.com/component/main-content-component
import Image from "astro-imagetools";
import { Icon } from 'astro-icon';


const { heading='Default Heading text goes here', 
        subtext="Default subtext goes here", 
        bgcolour="bg-white", 
        featured = [
          {
            heading: 'This is the post heading',
            text: 'Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores impedit perferendis suscipit eaque, iste dolor cupiditate blanditiis ratione.',
            publishedDate: "2022-04-22T06:02:24+00:00",
            imageThumbnail: "https://picsum.photos/1024/768",
            imageDescription: "A picture of a woman",
            link: "/",
          },
          {
            heading: 'This is another post heading',
            text: 'Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores impedit perferendis suscipit eaque, iste dolor cupiditate blanditiis ratione.',
            publishedDate: "2022-04-22T06:02:24+00:00",
            imageThumbnail: "https://picsum.photos/1024/768",
            imageDescription: "A picture of a man",
            link: "/",
          },
          {
            heading: 'This is another post heading',
            text: 'Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores impedit perferendis suscipit eaque, iste dolor cupiditate blanditiis ratione.',
            publishedDate: "2022-04-22T06:02:24+00:00",
            imageThumbnail: "https://picsum.photos/1024/768",
            imageDescription: "A picture of a man",
            link: "/",
          },
        ] } = Astro.props;
---

<!-- Start of FeaturedBlogPost Component -->
<div class={"py-12 md:px-20 sm:px-14 px-6 " + bgcolour}>
<!-- New part -->

  <div class="mb-12 space-y-2 text-center">
    <h2 class="text-2xl text-cyan-900 font-bold md:text-4xl">{heading}</h2>
    <p class="lg:w-6/12 lg:mx-auto">{subtext}</p>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 container mx-auto">

      {featured.map(feature => (

    <div class="p-6 bg-white rounded-xl">
      <a href="#" class="group" >
        <div class="overflow-hidden">
          <img
          src="https://images.unsplash.com/photo-1636467204130-edf8ee206dce?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=600&q=80"
          class="w-full h-auto hover:scale-105 transition transition-all duration-200 ease-in-out"
          alt="Sample Cover"
          />
        </div>

        <h3
          class="mt-6 leading-normal text-gray-800 group-hover:text-purple-400 font-semibold text-2xl lg:text-4xl line-clamp-3 transition translation-all duration-200 ease-in-out"
          title="Lorem Ipsum is simply dummy text of the printing">
          Lorem Ipsum is simply dummy text of the printing
        </h3>
      </a>

      <div class="mt-6">
          <ul class="grid grid-cols-1 gap-4">

            <li class="inline-flex items-center text-gray-600">
              <Icon size={24} name="mdi:calendar"  />
              <time class="text-gray-600" datetime="2021-11-06T08:29:56+00:00">
                Published:  2021-10-11
              </time>

            </li>

            <li class="inline-flex items-center text-gray-600">
              <Icon size={24} name="mdi:calendar"  />
              <time class="text-gray-600" datetime="2021-11-06T08:29:56+00:00">
                Updated: 2021-11-12
              </time>

            </li>

            <li class="inline-flex items-center text-gray-600">
              <Icon size={24} name="mdi:pencil"  />
              <a href="#" class="flex items-center">
                <div class="mr-2">Authors:</div>

                <span class="ml-2 text-gray-600">
                  John Doe
                </span>
              </a>
            </li>
            
            <li class="inline-flex items-center text-gray-600">
              <Icon size={24} name="mdi:tag"/>
              <a href="/tags" class="flex items-center">
                <div class="mr-2">Tags:</div>
              </a>
              <a class="bg-gray-800 text-white px-2 py-1 text-xs inline-block rounded-lg mr-1" href="/tag/excel">#Excel</a>
              <a class="bg-gray-800 text-white px-2 py-1 text-xs inline-block rounded-lg mr-1" href="/tag/video">#Video</a>           
            
            </li>

          </ul>
      </div>

      <p class="mt-6 leading-normal line-clamp-3 text-lg text-gray-600">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi explicabo ipsa laudantium maxime nemo non numquam praesentium quia quidem reiciendis sint tempora temporibus tenetur, totam unde vel velit voluptas? Alias.
      </p>

      <a href="#" class="inline-block mt-6 text-purple-500 hover:text-purple-400">
      Read More
      </a>

    </div>
          ))
      }

  </div>

</div>

<!-- End of FeaturedBlogPost Component -->
