---
import Config from "$/website.config.cjs";
import { Icon } from 'astro-icon';

const currentyear = new Date().getFullYear();
const currentisodatetime = new Date().toISOString();
---

<footer class="bg-white " aria-labelledby="footer">
  <h2 id="footer" class="sr-only">Footer</h2>
  <div class="max-w-7xl mx-auto py-12 px-4 sm:px-6 lg:py-16 lg:px-8 ">
    <nav id="footer-nav" class="xl:grid xl:grid-cols-3 xl:gap-8 border-t border-gray-200">
      <div class="space-y-8 xl:col-span-1">
        <Icon name="logo" width={180} class=" mt-4 h-10" aria-label="logo icon" /> 
        <!-- <img class="h-10" src="https://tailwindui.com/img/logos/workflow-mark-gray-300.svg" alt="Company name"> -->
        <p class="text-gray-500 text-base">{Config.siteSlogan}</p>
        <div class="flex space-x-6">

          {Config.socialMedia.facebook && 
          <a href={"https://facebook.com/" + Config.socialMedia.facebook} class="text-blue-600 hover:text-blue-900">
            <span class="sr-only">Facebook</span>
            <Icon size={24} name='mdi:facebook' aria-label="facebook icon"/>
          </a>
          }

          {Config.socialMedia.instagram && 
          <a href={"https://instragram.com/" + Config.socialMedia.instagram} class="text-blue-600 hover:text-blue-900">
            <span class="sr-only">Instagram</span>
            <Icon size={24} name='mdi:instagram' aria-label="Instagram icon"/>
          </a>
          }

          {Config.socialMedia.twitter && 
          <a href={"https://twitter.com/" + Config.socialMedia.twitter} class="text-blue-600 hover:text-blue-900">
            <span class="sr-only">Twitter</span>
            <Icon size={24} name='mdi:twitter' aria-label="twitter icon"/>
          </a>
          }

          {Config.socialMedia.github && 
          <a href={"https://github.com/" + Config.socialMedia.github} class="text-blue-600 hover:text-blue-900">
            <span class="sr-only">GitHub</span>
            <Icon size={24} name='mdi:github' aria-label="github icon"/>
          </a>
          }

        </div>
      </div>
      <div class="mt-12 grid grid-cols-2 gap-8 xl:mt-0 xl:col-span-2">
        <div class="md:grid md:grid-cols-2 md:gap-8">
          <div>
            <h3 class="text-sm font-bold text-black tracking-wider uppercase">Solutions</h3>
            <ul class="mt-4 space-y-4">
              <li>
                <a href="/offer" class="text-base text-gray-500 hover:text-gray-900"> Offer </a>
              </li>

              <li>
                <a href="/insights" class="text-base text-gray-500 hover:text-gray-900"> Insights </a>
              </li>
            </ul>
          </div>
          <div class="mt-12 md:mt-0">
            <h3 class="text-sm font-bold text-black tracking-wider uppercase">Support</h3>
            <ul class="mt-4 space-y-4">

              <li>
                <a href="/posts" class="text-base text-gray-500 hover:text-gray-900"> Blog </a>
              </li>

              <li>
                <a href="/tags" class="text-base text-gray-500 hover:text-gray-900"> Tags </a>
              </li>

              <li>
                <a href="/newsletter" class="text-base text-gray-500 hover:text-gray-900"> Newsletter </a>
              </li>

            </ul>
          </div>
        </div>
        <div class="md:grid md:grid-cols-2 md:gap-8">
          <div>
            <h3 class="text-sm font-bold text-black tracking-wider uppercase">Company</h3>
            <ul class="mt-4 space-y-4">
              <li>
                <a href="/about" class="text-base text-gray-500 hover:text-gray-900"> About </a>
              </li>


              <li>
                <a href="/partners" class="text-base text-gray-500 hover:text-gray-900"> Partners </a>
              </li>
            </ul>
          </div>
          <div class="mt-12 md:mt-0">
            <h3 class="text-sm font-bold text-black tracking-wider uppercase">Legal</h3>
            <ul class="mt-4 space-y-4">
              <li>
                <a href="/accessibility" class="text-base text-gray-500 hover:text-gray-900"> Accessibility </a>
              </li>

              <li>
                <a href="/privacy" class="text-base text-gray-500 hover:text-gray-900"> Privacy </a>
              </li>

              <li>
                <a href="/terms" class="text-base text-gray-500 hover:text-gray-900"> Terms </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
    <div class="mt-12 border-t border-gray-200 pt-8">
      <p class="text-base text-gray-800 xl:text-center">&copy; {currentyear} {Config.siteCopyright} All rights reserved.</p>
      <p class="text-base text-gray-800 xl:text-center">Last published {currentisodatetime}.</p>
    </div>
  </div>
</footer>