---
import Button from './Button.astro';
// import Image from "astro-imagetools";
const { imageUrl=`https://images.unsplash.com/photo-1653202455903-76dd6fd92f78?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1200`, 
imageAlt="Sun Shining through clouds.", 
imageCreditHTML=`Photo by <a href="https://unsplash.com/@hdbernd?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Bernd Dittrich</a> on <a href="https://unsplash.com/?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>`,
bgcolour } = Astro.props;
---
<div class={bgcolour}>
    <div class="container px-6 py-4 mx-auto  ">
        <div class="flex items-center justify-center w-full mt-2 ">
              <figure>
              <img class="object-cover w-full max-w-2xl rounded-md lg:h-full"
                  src={imageUrl} alt={imageAlt}>
                  { imageCreditHTML &&
                    <figcaption class="absolute prose bg-gray-100/75 text-xs -mt-4 ml-2 text-black px-4 " set:html={imageCreditHTML}>
                    </figcaption>
                  }
              </figure>
        </div>
    </div>
</div>