---
import { Icon } from 'astro-icon';

const navLinks = [
  {
    name: 'Home',
    url: '/',
  },
  {
    name: 'About',
    url: '/about',
  },
  {
    name: 'Team',
    url: '/team',
  },
  {
    name: 'Contact',
    url: '/contact',
  },
];
---

<!-- Start of Navbar component -->
<div>
    <header class="fixed w-full mt-0 bg-black z-[9999]">
      <nav class="text-white bg-black">
        <input type="checkbox" id="nav-Checkbox" class="hidden" />
        <label
          for="nav-Checkbox"
          id="nav-Toggle"
          class="absolute lg:hidden cursor-pointer my-1 mx-4 right-0"
        >
          <svg
            id="svg-menu"
            class="w-6 fill-white mt-[0.3rem]"
            viewBox="0 0 448 512"
            width="100"
            title="bars"
            ><path
              d="M16 132h416c8.837 0 16-7.163 16-16V76c0-8.837-7.163-16-16-16H16C7.163 60 0 67.163 0 76v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16z"
            ></path></svg
          >
          <svg
            id="svg-close"
            class="w-6 fill-white hidden"
            viewBox="0 0 384 512"
            width="100"
            title="times"
            ><path
              d="M242.72 256l100.07-100.07c12.28-12.28 12.28-32.19 0-44.48l-22.24-22.24c-12.28-12.28-32.19-12.28-44.48 0L176 189.28 75.93 89.21c-12.28-12.28-32.19-12.28-44.48 0L9.21 111.45c-12.28 12.28-12.28 32.19 0 44.48L109.28 256 9.21 356.07c-12.28 12.28-12.28 32.19 0 44.48l22.24 22.24c12.28 12.28 32.2 12.28 44.48 0L176 322.72l100.07 100.07c12.28 12.28 32.2 12.28 44.48 0l22.24-22.24c12.28-12.28 12.28-32.19 0-44.48L242.72 256z"
            ></path></svg
          >
        </label>

        <ul
          class="nav-Menu bg-black flex flex-col lg:flex-row gap-4 lg:gap-2 text-right my-2 lg:mt-1 lg:mb-0 mr-2 lg:mr-6 ml-0 mbs-0 mbe-0 pis-0"
        >
          <li
            class="block py-2 my-0 mr-auto ml-6 lg:mt-0 lg:mb-1 lg:tracking-normal lg:leading-none"
          >
            <a aria-label="Jump to Home page" href="/" class="no-underline" aria-label="Home page">
            <Icon name="logo" width={180} class="print:hidden"/> 
            </a>
          </li>
          <li class="list-none hidden font-bold lg:text-sm lg:block lg:uppercase pr-3 my-0 lg:mt-[0.85rem] lg:mx-0">
          <a
              href="/contact" class="no-underline text-white bg-blue-700 px-5 py-2.5 text-center mr-2 mb-2 rounded-md border border-transparent focus:outline-none focus:ring-4 focus:ring-blue-300 hover:bg-blue-800 hover:text-gray-300 focus:text-gray-300 active:text-gray-300"
              aria-label="Talk to an expert">Talk to an expert</a>
          </li>
          {navLinks.map(link => (
            <li
              class="list-none hidden font-bold lg:text-sm lg:block lg:uppercase pr-3 my-0 lg:mt-[0.85rem] lg:mx-0"
            >
            <a
              href={link.url}
              class="no-underline border-0 text-white hover:text-gray-300 focus:text-gray-300 active:text-gray-300"
              aria-label={link.name}>{link.name}</a
            >
            </li>
            ))
          }
        </ul>
      </nav>
    </header>
</div> 

<!-- End of Navbar component -->