---
// /src/components/NavPagination.astro
import Config from "$/website.config.cjs";

const {page} = Astro.props;

---

<nav class="bg-white px-4 py-3 flex items-center justify-between border-t border-gray-200 sm:px-6" aria-label="Pagination">
    <div class="hidden sm:block">
    <p class="text-sm text-gray-700">
        Showing page
        <span class="font-medium"> {page.currentPage && page.currentPage } </span>
        of
        <span class="font-medium"> {page.lastPage && page.lastPage } </span>
        with upto
        <span class="font-medium"> {Config.pageSize} </span>
        posts per page
    </p>
    </div>
    <div class="flex-1 flex justify-between sm:justify-end">
    {page.url.prev && 
        <a href={page.url.prev} class="relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50"> Previous </a>}
    {page.url.next && 
        <a href={page.url.next} class="ml-3 relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50"> Next </a>}
    </div>
</nav>