---
// Display a banner with important information.
// Use just below the Navigation menu.

const { short, long, link } = Astro.props;
---

<!-- Start of SiteBanner Component -->
<div class="relative bg-blue-600">
  <div class="max-w-7xl mx-auto py-3 px-3 sm:px-6 lg:px-8">
    <div class="pr-16 sm:text-center sm:px-16">
      <p class="font-medium text-white">
        <span class="md:hidden"> {short} </span>
        <span class="hidden md:inline"> {long} </span>
        <span class="block sm:ml-2 sm:inline-block">
          <a href={link} class="text-white font-bold underline"> Learn more <span aria-hidden="true">&rarr;</span></a>
        </span>
      </p>
    </div>
    <div class="absolute inset-y-0 right-0 pt-1 pr-1 flex items-start sm:pt-1 sm:pr-2 sm:items-start">
      <button type="button" class="flex p-2 rounded-md hover:bg-blue-500 focus:outline-none focus:ring-2 focus:ring-white">
      </button>
    </div>
  </div>
</div>
<!-- End of SiteBanner Component -->