---
// Experiment to pass in data to a component including an array

// Access passed-in component props, like `<X title="Hello, World" />`
const {title, dataarray} = Astro.props;

// const dataarray = [
//   {
//     text: 'Home',
//     name: 'John',
//   },
//   {
//     text: 'About',
//     name: 'Fred',
//   },
//   ]

---

<h2>{title}</h2>
  <div >
    {dataarray.map(data => (
        <p>{data.text} </p>  
        <p>{data.name} </p>
        ))
    }
  </div>