---
// Value Stack
//The value stack should list three simple successes that your customer will experience if they choose to work with you.
//The purpose of this section is to help readers see how your company can make their life better. This helps increase the perceived value of your product or service.
// For example Faster, Cheaper, Better ...
const { heading='Default Heading text goes here', subtext="Default subtext goes here" } = Astro.props;

const values = [
  {
    heading: '100%',
    subtext: 'faster',
  },
  {
    heading: '24/7',
    subtext: 'Delivery',
  },
  {
    heading: '100k',
    subtext: 'Value',
  }
];
---

<!-- This example requires Tailwind CSS v2.0+ -->
<div class="bg-gray-50 pt-12 sm:pt-16">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="max-w-4xl mx-auto text-center">
      <h2 class="text-3xl font-extrabold text-gray-900 sm:text-4xl">{heading}</h2>
      <p class="mt-3 text-xl text-gray-500 sm:mt-4">{subtext}</p>
    </div>
  </div>

  <div class="mt-10 pb-12 bg-white sm:pb-16">
    <div class="relative">
      <div class="absolute inset-0 h-1/2 bg-gray-50"></div>
      <div class="relative max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="max-w-4xl mx-auto">
          <dl class="rounded-lg bg-white shadow-lg sm:grid sm:grid-cols-3">

            {values.map(value => ( 
              <div class="flex flex-col border-b border-gray-100 p-6 text-center sm:border-0 sm:border-r">
                <dt class="order-2 mt-2 text-lg leading-6 font-medium text-gray-500">{value.subtext}</dt>
                <dd class="order-1 text-5xl font-extrabold text-indigo-600">{value.heading}</dd>
              </div>
              ))
            }            

          </dl>
        </div>
      </div>
    </div>
  </div>
</div>
