---
// /src/layouts/BaseLayout.astro
import "../styles/global.css";
import Navbar from '../components/Navbar.astro';
import NavbarSpacer from '../components/NavbarSpacer.astro';
import SiteBanner from '../components/SiteBanner.astro';
import Footer from '../components/Footer.astro';
import { SEO } from "astro-seo";

const currentyear = new Date().getFullYear();
const { title, description='', metaTitle='', metaDescription='', metaImage='',metaImageAlt='' } = Astro.props;
const {content} = Astro.props;

// const projectRootURL = new URL('./fixtures/astro-basic/', import.meta.url);
const projectRootURL = new URL(Astro.request.url).origin;
const metaImageUrl = projectRootURL+ metaImage
// const seoProps = {
//     title,
//     description,
//     openGraph={{
//       basic: {
//         title: metaTitle,
//         type: "website",
//         image: "openGraphBasicImage",
//         url: "smiley",
//       },
//       image: {
//         secureUrl: "openGraphBasicImage",
//         type: "image/png",
//         width: "openGraphImageWidth",
//         height: "openGraphImageHeight",
//         alt: "openGraphImageAlt",
//       },
//     }},
// };

console.log(metaImageUrl)
---
<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />  
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
  <link rel="manifest" href="/site.webmanifest" />
  <!-- {description && <meta name="description" content={description} />} -->
	<link rel="icon" type="image/x-icon" href="/favicon.ico" />
<SEO
  {title}
  {description}
  openGraph={{
    basic: { 
      title: metaTitle,  
      type: "website",
      image: metaImageUrl,
    },
    image: {
      secureUrl: metaImageUrl,
      type: "image/png",
      width: "1200",
      height: "627",
      alt: metaImageAlt,
    },
    optional: {
      description: metaDescription,
    }
  }}
  twitter={{
    card: "summary",
    site: "@rnwolf",
  }}
/>

</head>
<body>
  <div class="wrapper">
    <!-- <SiteBanner short="This is some text" long="This is a longer message" link="/"/> -->
    <Navbar/>
    <!-- <NavbarSpacer/> -->
	  <main>
        <slot />
	  </main>
    <Footer/> 
  </div>
</body>
</html>